* {
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(142, 91, 187, 0.795), rgb(201, 215,254));
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
}

.heading-primary{
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
}

.location, .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.location-timezone{
    font-weight: 400;
    text-transform: uppercase; 
}

.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
}

.degree-section h2 {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}

.temperature-description{
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}